[Unit]
Description=reMarkable Event Trigger
After=home.mount

[Service]
Environment=HOME=/home/root
WorkingDirectory=/home/root/rmeventtrigger
ExecStart=/home/root/rmeventtrigger/app -c /home/root/rmeventtrigger/conf.json

[Install]
WantedBy=multi-user.target
